<div class="site-wrapper {{toggleNav ? 'site-head-open' : ''}}">
    <header class="site-head">
        <div class="site-head-container">
            <a
                    class="nav-burger"
                    href="#"
                    (click)="setToggleNav()">
                <div
                        class="hamburger hamburger--collapse"
                        aria-label="Menu"
                        role="button"
                        aria-controls="navigation">
                    <div class="hamburger-box">
                        <div class="hamburger-inner"></div>
                    </div>
                </div>
            </a>
            <nav id="swup" class="site-head-left">
                <ul class="nav" role="menu">
                    <!--          <li class="nav-home nav-current" role="menuitem">-->
                    <!--            <a href="/">Home</a>-->
                    <!--          </li>-->
                    <!--          <li class="nav-about" role="menuitem">-->
                    <!--            <a href="/about">About</a>-->
                    <!--          </li>-->
                </ul>
            </nav>
            <div class="site-head-center">
                <a class="site-head-logo" href="/">
                    <img src="assets/images/GIF%20G.png" alt="Green Island Festival">
                </a>
            </div>
        </div>
    </header>
    <div class="image-carousel__container">
        <app-image-carousel [slides]="slides" [animationType]="animationType"></app-image-carousel>
    </div>
    <main id="site-main" class="site-main">
        <div id="swup" class="transition-fade">
            <header class="page-head" *ngIf="isHome">
                <h2 class="page-head-title">
                    <!--                    A bold, minimal theme for your projects, focused on clean typography & beautiful imagery-->
                </h2>
            </header>
            <router-outlet></router-outlet>
        </div>
    </main>

    <div class="aftermovie__container">
        <h2 class="aftermovie__title">Aftermovie</h2>
        <div class="aftermovie__video-container">
            <video width="75%" height="75%" loop="true" autoplay="true">
                <source src="/assets/videos/pexels-zlatin-georgiev-5607650.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </div>
    </div>

    <footer class="site-foot">
        &copy; {{date}} <a href="/">{{title}}</a> &mdash;
        Built by
        <a
                href="https://www.leightongrantham.com"
                target="_blank"
                rel="noopener noreferrer">
            Leighton Grantham
        </a>

        <div class="social-links__container">
            <div class="social-links">
                <a
                        href="https://www.facebook.com/greenislandfestivalUK/?fref=tag"
                        title="Facebook"
                        target="_blank"
                        rel="noopener noreferrer">
                    Facebook
                </a>
                <a
                        href="https://www.instagram.com/greenisland_festival"
                        title="Instagram"
                        target="_blank"
                        rel="noopener noreferrer">
                    Instagram
                </a>
            </div>
        </div>
    </footer>
</div>
