<div class="site-wrapper site-head-open">
    <header class="site-head">
        <div class="site-head-container">
<!--            <a-->
<!--                    class="nav-burger"-->
<!--                    href="#"-->
<!--                    (click)="setToggleNav()">-->
<!--                <div-->
<!--                        class="hamburger hamburger&#45;&#45;collapse"-->
<!--                        aria-label="Menu"-->
<!--                        role="button"-->
<!--                        aria-controls="navigation">-->
<!--                    <div class="hamburger-box">-->
<!--                        <div class="hamburger-inner"></div>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </a>-->
            <nav id="swup" class="site-head-left">
                <ul class="nav" role="menu">
                    <!--          <li class="nav-home nav-current" role="menuitem">-->
                    <!--            <a href="/">Home</a>-->
                    <!--          </li>-->
                    <!--          <li class="nav-about" role="menuitem">-->
                    <!--            <a href="/about">About</a>-->
                    <!--          </li>-->
                </ul>
            </nav>
            <div class="site-head-center">
                <a class="site-head-logo" href="/">
                    <img src="assets/images/GIF%20W.png" alt="Green Island Festival">
                </a>
            </div>
        </div>
        <div class="image-carousel__container">
            <app-image-carousel [slides]="slides" [animationType]="animationType"></app-image-carousel>
        </div>

        <app-subscribe-form></app-subscribe-form>


    </header>
    <footer class="site-foot">
        <div class="social-links__container">
            <div class="social-links">
                <a
                        href="https://www.facebook.com/greenislandfestivalUK/?fref=tag"
                        title="Facebook"
                        target="_blank"
                        rel="noopener noreferrer">
                    <fa-icon [icon]="faFacebook"></fa-icon>
                </a>
                <a
                        href="https://www.instagram.com/greenisland_festival"
                        title="Instagram"
                        target="_blank"
                        rel="noopener noreferrer">
                    <fa-icon [icon]="faInstagram"></fa-icon>
                </a>

            </div>

<!--                    <span class="scroll-arrow animated pulse forever" (click)="scrollIntoView('aftermovie')"-->
<!--                          title="Arrow"-->
<!--                          rel="noopener noreferrer">-->
<!--                    <fa-icon [icon]="faArrow"></fa-icon>-->
<!--                </span>-->
        </div>
    </footer>

    <div id="aftermovie" class="aftermovie__container">
        <div class="aftermovie__video-container">
            <video width="100%" height="75%" loop="true" autoplay="true">
                <source src="/assets/videos/VIDEO-2022-03-17-18-25-42.mp4" type="video/mp4">
                Your browser does not support HTML video.
            </video>
        </div>
    </div>

    <!--    <main id="site-main" class="site-main">-->
    <!--        <div id="swup" class="transition-fade">-->
    <!--            <header class="page-head" *ngIf="isHome">-->
    <!--                <h2 class="page-head-title">-->
    <!--                </h2>-->
    <!--            </header>-->
    <!--            <router-outlet></router-outlet>-->
    <!--        </div>-->
    <!--    </main>-->
</div>