

:host {
  .image-carousel__container {
    display: flex;
    align-items: center;
    min-height: calc(90vh - 75px);
  }

  button {
    position: absolute;
    z-index: 1000;
    background: black;
  }

  .aftermovie__container {
    margin-top: 98px;
    .aftermovie__title {
      text-align: center;
    }

    .aftermovie__video-container {
      display: flex;

      justify-content: center;
    }
  }

  footer {
    position: sticky;

    .social-links__container {
      display: flex;
      justify-content: center;

      .social-links a {
        margin: 15px;
        text-decoration: none;
      }
    }
  }
}
